<div class="row">
  <div class="col-12 col-md-8 offset-md-2">
    <h1>Reset your password </h1>
    <% if (errors.validation) { %>
      <div class="alert alert-warning">
        <p><%= errors.validation.message %> </p>
      </div>
    <% } %>
    <form action="/dochangepassword/<%= user.activation.token %>" method="POST">
      <div class="form-group">
        <label for="password">Password</label>
        <input name="password" type="password" class="form-control" id="password" >
      </div>
      <div class="form-group">
        <label for="passwordValidate">Repeat Password</label>
        <input name="passwordValidate" type="password" class="form-control" id="passwordValidate">
      </div>
      <button type="submit" class="btn btn-primary">Send</button>
    </form>
  </div>
</div>